extends layout

block content
	div.header
		div.centerDiv
	nav.blog-nav
	div.container
		
		div.blog-header
			h1.blog-title mitchellG.me
			p.lead.blog-description A "blog" about computer related projects that I find interesting.
		div.row
			div.col-lg-8.blog-main
				include ./blogposts/7-21-15.jade




			div.col-sm-4.blog-sidebar
				h1.textCenter About Me
				img.aboutMeImage.center.img-rounded(src="images/aboutme.jpg")
				br
				div.sidebar-module.sidebar-module-inset
					p.
						I'm 22 years old and I'm currently attending Winona State University as a Computer Science major.
						I am graduating in Spring of 2016 and plan to pursue a career in the field of software development.
					a(href="https://www.linkedin.com/pub/mitchell-gerber/b3/391/125" target="_blank")
						i.icon-large.icon-linked-in
				div.sidebar-module
					h3.textCenter Enter Reminder
					form(action="/", method="post")
						div.form-signin
							Span Phone Number:
							if (number != null)
								Span.colorRed= " " + number
							br
							input.form-control(required type="text", name="number", placeholder="555-555-5555")
							br
							Span Carrier:
							select.form-control(name="carrier")
								option(value="@vtext.com") Verizon
								option(value="@txt.att.net") AT&T
								option(value="@tmomail.net") T-Mobile
								option(value="@messaging.sprintpcs.com ") Sprint
								option(value="@vmobl.com") Virgin Mobile
								option(value="@mmst5.tracfone.com") Tracfone
								option(value="@mymetropcs.com") Metro PCS
								option(value="@myboostmobile.com") Boost Mobile
								option(value="@sms.mycricket.com") Cricket
								option(value="@messaging.nextel.com") Nextel
								option(value="@message.alltel.com") Alltel
								option(value="@ptel.com") Ptel
								option(value="@tms.suncom.com") Suncom
								option(value="@qwestmp.com") Quest
								option(value="@email.uscc.net") U.S. Cellular
							br
							Span Date:
							if (date != null)
								Span.colorRed= " " + date
							br
							input.form-control(required type="text", name="date", id="datepicker" placeholder="MM/DD/YYYY")
							br
							Span Time:
							if (time != null)
								Span.colorRed= " " + time
							br
							select.form-control.timeForm(name="hours")
								-for(var i = 1; i < 13; i++)
									option(value=i)= i
							select.form-control.timeForm(name="minutes")
								-for(var i = 1; i < 60; i++)
									if(i < 10)
										option(value="0" + i)= "0" + i
									else
										option(value=i)= i
							select.form-control.timeForm(name="ampm")
								option(value="am") AM
								option(Value="pm") PM
							br
							br
							Span Message:
							textarea.form-control(required type="textarea", name="message", placeholder="Type your message here...")
							br
							input(hidden type="text" name="timeZone" id="timeZone")
							input(type="submit", value="Remind Me", id="submitButton").btn.btn-lg.btn-primary.btn-block
	footer.blog-footer
		p Site created and managed by Mitchell Gerber
		Span &#169;2015
		br
		Span Glyphicons provided by
		br
		a(href="http://glyphicons.com/" target="_blank")
			Span glyphicons.com