<% include layout.ejs %>

<body>

<div class="header">
	<div class="centerDiv"></div>
</div>

<div class="container">

	<div class="blog-header">

		<h1 class="blog-title">mitchellG.me</h1>
		<p class="lead blog-description">A "blog" about computer related projects that I find interesting.</p>

	</div>

	<div class="row">


		<div class="col-sm-8 blog-main">
		<% include ./blogposts/7-28-15.ejs%>
		<% include ./blogposts/7-21-15.ejs%>










		</div> <!-- new blog posts-->

		<div class="col-sm-4 blog-sidebar">
			<h1 class="text-center">About Me</h1>
			<img class="aboutMeImage center img-rounded" src="images/aboutme.jpg">

			<br>

			<div class="sidebar-module sidebar-module-inset">
				<p>	I'm 22 years old and currently attending Winona State University as a Computer Science major.
					I am graduating in Spring of 2016 and plan to pursue a career in the field of software development.
				</p>

				<a href="https://www.linkedin.com/pub/mitchell-gerber/b3/391/125" target="_blank">
					<i class="icon-large icon-linked-in"></i>
				</a>
			</div>

			<div class="sidebar-module">

				<h3 class="textCenter">Enter Reminder</h3>

				<form action="/" method="POST">

					<div class="form-signin">

						<Span>Phone Number:</Span> 
							<% if (typeof number != 'undefined') { %>
								<Span class="colorRed"> <%=" " + number%></Span>
							<%}%>
						<br>

						<input class="form-control" type="text" name="number" placeholder="555-555-5555" required>

						<Span> Carrier: </Span>
						<select name="carrier" class="form-control">
							<option value="@vtext.com">Verizon</option>
							<option value="@txt.att.net">AT&T</option>
							<option value="@tmomail.net">T-Mobile</option>
							<option value="@messaging.sprintpcs.com">Sprint</option>
							<option value="@vmobl.com">Virgin Mobile</option>
							<option value="@mmst5.tracfone.com">Tracfone</option>
							<option value="@mymetropcs.com">Metro PCS</option>
							<option value="@myboostmobile.com">Boost Mobile</option>
							<option value="@sms.mycricket.com">Cricket</option>
							<option value="@messagin.nextel.com">Nextel</option>
							<option value="@message.alltel.com">Alltel</option>
							<option value="@ptel.com">Ptel</option>
							<option value="@tms.suncom.com">Suncom</option>
							<option value="@qwestmp.com">Quest</option>
							<option value="@email.uscc.net">U.S. Cellular</option>
						</select>

						<br>

						<Span>Date:</Span>
							<% if (typeof date != 'undefined') { %>
								<Span class="colorRed"><%=" " + date%></Span>
							<%}%>

						<br>

						<input name="date" id="datepicker" placeholder="mm/dd/yyyy" class="form-control">
						<br>

						<Span>Time:</Span>
							<% if (typeof time != 'undefined') { %>
								<Span class="colorRed"><%=" " + time%></Span>
							<%}%>

						<br>

						
							<select class="form-control timeForm" name="hours">
								<% for (var i = 1; i <13; i++){ %>
									<option value="<%=i%>"><%=i%></option>
								<%}%>
							</select>

							<select class="form-control timeForm" name="minutes">
								<% for (var i = 1; i < 60; i++){ 
									if(i < 10) {%>
										<option value="<%="0"+i%>"><%="0" + i%></option>
									<% }
									else { %>
										<option value="<%=i%>"><%=i%></option>
								<%} }%>
							</select>

							<select name="ampm" class="form-control timeForm">
								<option value="am">AM</option>
								<option value="pm">PM</option>
							</select>
						

						<br>
						<br>

						<span>Message:</span>
						<textarea required type="textarea" name="message" placeholder="Type your message here..." class="form-control"></textarea>
						<br>

						<input hidden type="text" name="timeZone" id="timeZone">
						<input type="submit" value="Remind Me" id="submitButton" class="btn btn-lg btn-primary btn-block">

					</div>

				</form>

			</div>

		</div>

	</div>

</div>

<footer class="blog-footer">
	<p>Site created and managed by Mitchell Gerber</p>
	<span>©2015</span>
	<br>
	<span>Glyphicons provided by</span><br>
	<a href="http://glyphicons.com/" target="_blank"><span>glyphicons.com</span></a>
</footer>

</body>

<% include layoutBottom.ejs %>

